*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 56px;
    background-color: white;
    color: black;
    display: flex;

}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {
background-image: url("image/logo1.png");
background-size: cover;
height: 50px;
width: 100px;
margin-left: 15px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 30px;
    
}

.add-icon {
    height: 2px;
    width: 3px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav-search {
    margin-left: 220px;
    margin-top: 10px;
    display: flex;
height: 33px;
border-radius: 25px;
border: 2px solid gainsboro;

}

.search-select {
    
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.search-icon {
    width: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 250px;
    border: none;
    font-size: 1rem;
}

.sign-up {
    background-color: green;
    width: 80px;
    height: 15px;
    margin: 10px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 60px;
    color: white;
}

/**panel**/
.panel:hover{
    text-decoration: underline;
}
.panel {
    height: 40px;
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    margin-top: 10px;
}

.hero-section {
    margin: 50px;
    margin-bottom: 0px;
    color: green;
    font-size: 100px;

}

.text {
    margin-left: 50PX;
    margin-top: 10PX;
    color: #5E6D55;
    font-size: 25px;
}

.get-start {
    margin-top: 20px;
    margin-left: 50px;
    background-color: green;
    border-radius: 60px;
    width: 80px;
    padding: 10px;
    color: white;
    font-size: 15px;
}

.hero-image {
    background-image: url('image/hero.jpg');
    background-size: cover;
    height: 420px;
    width: 420px;
    margin-left: 850px;
    position: absolute;
    top: 140px;
}

.tursted {
    color: #9AAA97;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 60px;
}

.container {
    display: flex;
  
}

.image-tursted {
    background-image:url('image/microsoft.svg');
    height: 70px;
    width: 220px;
    background-size: 100px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 50px;
    

}

.image2 {
    background-image: url('image/airbnb.svg');
    background-size: 80px;
    background-repeat: no-repeat;
    height: 70px;
    width: 220px;
    margin-top: 15px;
    position: absolute;
    left: 180px;

}

.image3 {
    background-image: url('image/bissell.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    height: 70px;
    width: 220px;
    margin-top: 15px;
    position: absolute;
    left: 300px;
}

.item {
    color: #001E00;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 250px;

}

h3 {
    font-size: 40px;
}

.icon1 {
    color: #001E00;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 190px;
    margin-top: 20px;
    line-height: 30px;

}

.icon2 {
    color: #001E00;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 215px;
    margin-top: 20px;
    line-height: 30px;
}

.icon3 {
    color: #001E00;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 143px;
    margin-top: 20px;
    line-height: 30px;
}

i {
    margin-right: 15px;
}

.sign-up2 {
    background-color: green;
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: absolute;
    right: 600px;
    padding: 10px;
    border-radius: 60px;
    color: white;
}

.learn {
    background-color: white;
    border-radius: 60px;
    width: 180px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    position: absolute;
    right: 380px;
    margin-top: 25px;
    color: green;
    padding: 10px;
}

/**Enterprise job**/

.Enterprise {
height: 700px;
display: flex;
margin: 50px;

}

.good-company {
height: 700px;
width: 65%;
background-color: #13544E;
padding: 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.good-company>h1 {
color: #F7FAF7;
margin-top: 10px;
font-size: 70px;
margin-bottom: -20px;
}

.good-company>h2 {
color: #91E6B3;
font-size: 70px;
margin-bottom: 40px;

}

.good-company>h4 {
margin-top: 10px;
color: #F7FAF7;
font-size: 30px;
}

.good-company>span {
    font-size: 30px;
    color: #F7FAF7;
}

.good-company>p {
    color: #F7FAF7;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
}

.learn-more {
    background-color: white;
    border-radius: 60px;
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80px;
    top: 2230px;
    margin-top: 30px;
    color: #13544E;
    padding: 10px;
}

.Enterprise-image {
background-image: url('https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/f_auto,q_auto/brontes/for-enterprise/enterprise-2023.jpg');
background-size: cover;
height: 700px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
width: 40%;
padding: 30px;
}

/**job-add**/

.container-job {
height: 750px;
margin: 100px 50px 0px 50px;
display: flex;
padding: 10px 0px 10px 0px;
border-radius: 10px;
}

.job-image {
background-image: url('https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload//q_auto,dpr_2.0,f_auto/brontes/for-talents/find-great-work@2x.jpg');
background-size: 700px;
background-repeat: no-repeat;
height: 750px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
width: 50%;
}

.job-add {
height: 685px;
background-color: #1F57C3;
width: 50%;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
color: #F7FAF7;
padding: 30px
}

.job-add>h2 {
font-size: 90px;
margin-bottom: 10px;
}

.job-add>hr {
    margin-top: 200px;
}

.job-add1 {
    display: flex;
    margin-top: 10px;
    
}

.job-add1>span {
    font-size: 23px;
display: flex;
word-spacing: 3px;
}

.job-add>span {
font-size: 25px;
display: flex;
 
}

.job-add>p {
font-size: 30px;
}

.find {
    background-color: white;
    border-radius: 60px;
    width: 180px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    position: absolute;
    right: 460px;
    margin-top: 30px;
    color: green;
    padding: 10px;
}
/**browser talent**/

.browser-text {
    color: #001E00;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.browser-text>p {
    margin-top: 10px;
color: #5E6D55;
}
.browser-text>p>a{
    color: #108A00;
    text-decoration: underline;
}
.browser {
height: 300px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
padding: 20px;
}

.box{
height: 120px;
width: 20%;
background-color: #F7FAF7;
border-radius: 10px;
padding-top: 10px;
padding-left: 10px;
}

.box>h4 {
    color: #001E00;
    padding: 10px;
}

.box>p {
    color: #5E6D55;
    margin-top: 20px;
    padding-left: 10px;

}

/**add-section**/

.heading-add {
    color: #001E00;
    height: 100px;
    font-size: 30px;
    margin: 80px 30px 0px 20px ;
    padding: 20px;
}

 .add1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.box1 {
    border: 2px solid black;
    height: 400px;
    width: 50%;
    background-color: #13544E;
    padding: 40px;
    border-radius: 10px;
    margin: 25px;
    
} 

.box1>h4 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.box1>span {
    color: #D5E0D5;
    margin: 10px;
} 

.box1>p {
    margin-top: 120px;
    padding: 10px;
    color: #D5E0D5;
}

 .box>h2 {
    color: white;
} 

.child {
display: flex;
margin-top: 10px;

}

.child>dl>dt {
    color: white;
    padding: 10px;
    font-size: 25px;
}

.child>dl>dd {
    color: #D5E0D5;
padding: 10px;
}

.box2 {
    border: 2px solid black;
    height: 400px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: #BC511B;
    width: 50%;
    padding: 40px;
}

.box2>h4 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.box2>span {
    color: #D5E0D5;
    margin: 10px;
} 

.box2>p {
    margin-top: 90px;
    padding: 10px;
    color: #D5E0D5;
}

.box2>h2 {
    color: white;
}

.child2 {
display: flex;
margin-top: 10px;

}

.child2>dl>dt {
    color: white;
    padding: 10px;
    font-size: 25px;
}

.child2>dl>dd {
    color: #D5E0D5;
padding: 10px;
}

 

.ukrine {
      height: 150px;
    background-color: whitesmoke;
    color: #5E6D55;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    padding: 20px;

}


.ukrine>h2 {
    color: #001E00;
    margin-bottom: 10px;
}

.learn1 {
    background-color: white;
    border-radius: 60px;
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    margin-top: 50px;
    color: green;
    padding: 10px;
}

.rebrand-skills {
    height: 700px;
    color: #5E6D55;
    margin-top: 60px;
    margin-left: 30px;
    display: flex;
    
 }

 .rebrand a:hover{
    color: #14A800;
 }

 .rebrand-skills a:hover{
    color: #14A800;
 }

 .rebrand {
    color: #D5E0D5;
    margin-top: 10px;
    font-size: 50px;
    margin-right: 100px;
 }

 .rebrand>ul>a>sup {
    font-size: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
 }
 .rebrand>ul>a {
    font-size: 35px;
 }

.rebrand-skills a {
    font-size: 24px;

} 

/**footer**/
.foot-panel1 {
    margin-top: 100px;
    background-color: #001E00;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

ul {
    margin-top: 50px;
}

ul a {
    display: flex;
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel2 {
    color: white;
    height: 20px;
    background-color: #001E00; 
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid white;
    display: flex;
}

.foot-panel2 p {
    margin-left: 150px;
}

.footer-icon1 {
    color: white;
    height: 10px;
    margin-left: 50px;
}

.footer-icon2 {
position: absolute;
right: 150px;
text-align: center;
display: flex;

}

.footer-icon2 i {
    margin-right: 30px;
}

.footer-icon2 p {
    margin-right: 30px;
}

.foot-panel3 a:hover {
    text-decoration: underline;
}

.foot-panel3 {
    height: 100px;
    color: white;
    background-color: #001E00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    font-size: 13px;
    padding-left: 120px;
}

.foot-panel3 a {
    margin-left: 5px;
    padding-left: 20px;
}

